/* Reset some default browser styles */
.dashboard-container {
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #0437F2;
    padding: 10px 20px;
    z-index: 1000;
}


.navbar-logo img {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    background-image: url("../../assets/logo.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar-menu li {
    display: inline;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.navbar-menu li a:hover {
    background-color: #87CEEB;
    border-radius: 5px;
    color: black;
}

.navbar-profile .profile-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-profile .profile-btn:hover {
    background-color: #45a049;
}