<div class="dashboard-container">
  <nav class="navbar">
    <div class="navbar-logo">
        <img>
    </div>
    <ul class="navbar-menu">
        <li><a (click)="showPatients()">Patients</a></li>
        <li><a (click)="showMedicines()">Medicines</a></li>
        <li><a (click)="showCart()">Cart</a></li>
        <li><a (click)="showBillGenerate()">Bill</a></li>
    </ul>
    <div class="navbar-profile">
        <button class="profile-btn" (click)="logout()">Logout</button>
    </div>
</nav>
  <div class="content" #content>
  </div>
</div>
  